.myedit{
    width:800px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding:40px 30px 30px 30px;
}
.myedit input {
    margin-bottom: 30px;
    margin-top: 20px;
    height:50px;
    width:100%;
    border:none;
}
#createEditTitle{
    background-color: #F0F0F0;
    margin-top: 10px;
}
#createEditDESCRIPTION{
    min-height:500px;
    background-color: #F0F0F0;
    width:100%;
    margin-top: 10px;
    border : none;
}
.myedit label{
    padding: 5px;
}
.myedit button{
    float: right;
    margin-top: 18px;
    border: none;
    padding: 10px 30px 10px 30px;
    background: rgb(93, 175, 68);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}
.myedit input[type="file"]::-webkit-file-upload-button {
    border: none;
    padding: 10px 30px 10px 30px;
    background: rgb(93, 175, 68);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}
.myedit input[type="file"] {
    width: 240px;
}
.editimg img{
    width : 100%;
}
@media screen and (max-width: 1000px)  {
    .myedit input[type="file"] {
        float:left;
    }
    #SaveChnge{
        float:right;
    }
    .myedit{
        width:80%;
    }
}
@media screen and (max-width: 514px)  {
    .myedit input[type="file"] {
        float:left;
        width:100%;
    }
    #SaveChnge{
        float:left;
        margin-top: -23px;
        margin-bottom: 20px;
        width:100%;
    }
    .myedit input[type="file"]::-webkit-file-upload-button {
        border: none;
        padding: 10px 30px 10px 30px;
        background: rgb(93, 175, 68);
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        border-radius: 5px;
        width:50%;
    }
}