@media screen and (min-width: 1000px)  {
    .header {
      list-style-type: none;
      overflow: hidden;
      margin: 0;
      padding: 0;
      width:94%;
      background-color: rgb(93, 175, 68);
      padding-right: 6%;
      margin-bottom: 30px;
    }
  
    li h2 {
      font-size: 40px;
      margin-left:7.5%;
      color: white; 
    }
  
    li button {
      float:right;
      font-size:20px;
      position:relative;
      bottom:75px;
      margin:0px 10px 0px;
      border: 1px solid white;
      padding: 10px 20px 10px 20px;
      background: rgb(93, 175, 68);
      color: #fff;
      cursor: pointer;
      border-radius: 5px;
    }
    .inv-li{
      display: none;
    }
  }
  @media screen and (max-width: 1000px)  {
    .header {
      list-style-type: none;
      overflow: hidden;
      margin: 0;
      padding: 0;
      width:94%;
      background-color: rgb(93, 175, 68);
      padding-right: 6%;
      margin-bottom: 30px;
    }
  
    li h2 {
      font-size: 40px;
      margin-left:7.5%;
      color: white; 
    }
  
    li button {
      font-size:20px;
      position:relative;
      bottom:25px;
      margin-top:5px;
      margin-left: 7.5% ;
      border: 1px solid white;
      padding: 10px 20px 10px 20px;
      background: rgb(93, 175, 68);
      color: #fff;
      cursor: pointer;
      width:85%;
      border-radius: 5px;
    }
    .non-li{
      display: none;
    }
  }
  