.horizontalpost{
    border-bottom: 1px solid black;
    padding-bottom:100px;
    height:140px;
    background-color: white;
    padding-left:30px;
    padding-right:30px;
}
.horizontalpostimg{
    width:15%;
    margin-top: 50px;
    height:140px;
    float:left;
    display: flex;
    align-items: center;
}
.horizontalpostimg img{
        width:100%;
        height:auto;
        min-height: 100px;
}
.middle{
    width:60%;
    float: left;
    margin-left: 5%;
    margin-top: 50px;
    height: 100%;
}
.icons{
    float:right;
    display: flex;
    align-items: center;
}
.icons button {
    font-size:50px;
    border: none;
    background-color: white;
    margin-left:40px;
    position: relative;
    bottom:100px; 
}
.deletebtn :active{
    font-size: 55px;
    margin-left:-4px;
}
.editbtn :active{
    font-size: 55px;
    margin-left:-4px;
}