.small{
    height:10%;
    border : 2px solid white;
    border-right-color: black;
}
.small img{
    width:30%;
    float:right;
    margin:3% 8% 0% 8%;
    height:110px;
}
.small p{
    width:50%;
    
}
.topclick{
    cursor: -webkit-grab; 
    cursor: grab;
    margin-top: -40px;
    color:black;
    font-weight: bold;
}
.topclick:hover{
    color:blue;
}
.comp i{
    font-size :35px;
    
}
.comptext span{
    position: relative;
    left:4px;
    bottom:17px;
    font-weight: bold;
}
.com{
    position: relative;
    left:38px;
    bottom:35px;
}
.com span{
    font-weight: bold;
}
.topdate {
     margin-top: -7px;
     font-weight: 550;
}