.top{
    width:30%;
    background-color: white;
    float:right;
    padding: 5px 20px 20px 20px;
    margin-right:3%;
    border-radius: 10px;
}
.top h2{
    border-top:2px solid black;
    border-bottom:2px solid black;
    padding:10px 0px 10px 0px;
}